<header>
  <a routerLink="/" class="active">Logo</a>
  <nav class="navitems">
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
      >Home</a
    >
    <a
      routerLink="/products"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Products</a
    >
    <a
      routerLink="/support"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Support</a
    >
    <a
      routerLink="/contact"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Contact Us</a
    >
  </nav>

  <nav class="navauth">
    <a routerLink="/login" ariaCurrentWhenActive="page">Login</a>
    <a
      class="btn-signup"
      routerLink="/signup"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Sign Up</a
    >
  </nav>
</header>

<main>
  <section class="highlighted-post">
    <h1>Our Blogs</h1>
    <h2>Insights and Innovations from Metaballs</h2>
    <h3>
      Discover expert tips, latest trends and valuable insights in digital
      design, project management and marketing.
    </h3>
    <form>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Enter your email"
      />
      <button type="submit">Get Started</button>
    </form>

    <article class="">
      <img
        src="https://images.pexels.com/photos/2527491/pexels-photo-2527491.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt=""
      />
      <h2>Maximizing Efficiency with Metaballs</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo
        exercitationem earum, adipisci excepturi vitae modi in, cumque obcaecati
        possimus ab ullam quisquam, sunt molestias veritatis deleniti eaque.
        Molestias, at laudantium!
      </p>
      <div class="post-info">
        <div class="created-by">
          <span>By Emma R.</span>
          <span>January 12, 2024</span>
          <span>399</span>
        </div>

        <div class="related-tags">
          <span>User Experience</span>
          <span>UI/UX</span>
          <span>UI Animation</span>
          <span>User Research</span>
        </div>
      </div>
    </article>
  </section>
  <router-outlet />
</main>
